.education-main{
    width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}